# Projeto 3 - Fazendo um modelo de investimento com Python - Factor Investing no Ibovespa.

### Desafio:
    ** Construir um código que faça um backtesting dos últimos 6 anos, escolhendo as 8 melhores ações do indice Ibovespa e utilizando como critério o fator momento 7 meses. **
    
## Passo a Passo da estratégia:
Passo 1 - Definir um universo investivel. <br>
Passo 2 - Escolher o fator que servirá como critério para criação dos rankings. <br>
Passo 3 - Escolher o período de teste. <br>
Passo 4 - Escolher o número de ações na carteira <br>
Passo 5 - Definir o periodo de balanceamento. De quanto em quanto tempo a carteira muda? <br>

## Passo a Passo do código:
Passo 1 - Ler a composição histórica do Ibovespa e os tickers que já passaram pelo índice. <br>
Passo 2 - Puxar as cotações de todas as empresas que farão parte do **backtest** . <br>
Passo 3 - Transformar o indice em data e ordenar a série de tempo. <br>
Passo 4 - Calcular a média dos retornos 7 meses e ajustar a tabela com o fator. <br>
Passo 5 - Classificar e retirar empresas que não participam do Ibovespa no periodo de tempo selecionado <br>
Passo 6 - Criar as carteiras de investimento em uma matriz de 0 e 1. <br>
Passo 7 - Calcular o retorno mensal das empresas no periodo de backtest. <br>
Passo 8 - Cruzar a matriz de retorno mensal com a matriz das carteiras para chegar na rentabilidade do
modelo. <br>
Passo 9 - Puxar a calcular a rentabilidade do Ibovespa no periodo. <br>
Passo 10 - Calcular e vizualizar as rentabilidades do modelo contra o Ibovespa.

In [1]:
# instalação dos modulos
!pip install quantstats

Collecting quantstats
  Downloading QuantStats-0.0.59-py2.py3-none-any.whl (41 kB)
     -------------------------------------- 41.3/41.3 kB 282.7 kB/s eta 0:00:00
Requirement already satisfied: scipy>=1.2.0 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from quantstats) (1.9.1)
Requirement already satisfied: python-dateutil>=2.0 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from quantstats) (2.8.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from quantstats) (3.5.2)
Requirement already satisfied: tabulate>=0.8.0 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from quantstats) (0.8.10)
Requirement already satisfied: yfinance>=0.1.70 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from quantstats) (0.1.74)
Requirement already satisfied: pandas>=0.24.0 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from quantstats) (1.4.4)
Requirement already satisfied: seaborn>=0.9.0 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from quantstats) (0.11.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from quantstats) (1.21.5)
Requirement already satisfied: pillow>=6.2.0 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from matplotlib>=3.0.0->quantstats) (9.2.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from matplotlib>=3.0.0->quantstats) (4.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from matplotlib>=3.0.0->quantstats) (21.3)
Requirement already satisfied: cycler>=0.10 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from matplotlib>=3.0.0->quantstats) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from matplotlib>=3.0.0->quantstats) (1.4.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from matplotlib>=3.0.0->quantstats) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from pandas>=0.24.0->quantstats) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from python-dateutil>=2.0->quantstats) (1.16.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from yfinance>=0.1.70->quantstats) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from yfinance>=0.1.70->quantstats) (4.9.1)
Requirement already satisfied: requests>=2.26 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from yfinance>=0.1.70->quantstats) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from requests>=2.26->yfinance>=0.1.70->quantstats) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from requests>=2.26->yfinance>=0.1.70->quantstats) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from requests>=2.26->yfinance>=0.1.70->quantstats) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from requests>=2.26->yfinance>=0.1.70->quantstats) (2022.9.14)
Installing collected packages: quantstats
Successfully installed quantstats-0.0.59

In [5]:
# importações dos módulos
import yfinance as yf
import pandas as pd
import quantstats as qs

# Passo 1 - Ler a composição histórica do Ibovespa e os tickers que já passaram pelo índice.

In [6]:
comp_historica = pd.read_excel('composicao_ibov.xlsx')
comp_historica

,2015-12-31,2016-01-31,2016-02-29,2016-03-31,2016-04-30,2016-05-31,2016-06-30,2016-07-31,2016-08-31,2016-09-30,...,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30
0,ABEV3,ABEV3,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,...,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3
1,AMER3,BBAS3,ABEV3,BBDC4,BBDC4,ABEV3,ABEV3,ABEV3,BBDC4,ABEV3,...,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4,ITUB4,PETR4,ITUB4
2,AURE3,BBDC3,BBDC4,ABEV3,ABEV3,BBDC4,BBDC4,BBDC4,ABEV3,BBDC4,...,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,PETR4,ITUB4,PETR4
3,B3SA3,BBDC4,BRFS3,PETR4,PETR4,BRFS3,PETR4,PETR4,PETR4,PETR4,...,PETR3,BBDC4,BBDC4,BBDC4,BBDC4,PETR3,PETR3,BBDC4,BBDC4,BBDC4
4,B3SA3,BBSE3,CIEL3,BRFS3,PETR3,PETR4,BRFS3,BRFS3,BRFS3,BRFS3,...,BBDC4,B3SA3,PETR3,PETR3,PETR3,BBDC4,BBDC4,PETR3,PETR3,PETR3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,EZTC3,JHSF3,JHSF3,GOLL4,GOLL4,GOLL4,GOLL4,CVCB3,CVCB3,EZTC3
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,JHSF3,EZTC3,EZTC3,JHSF3,EZTC3,CASH3,CASH3,GOLL4,ECOR3,ECOR3
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CASH3,CASH3,CASH3,EZTC3,CASH3,POSI3,POSI3,ECOR3,GOLL4,CVCB3
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,POSI3,POSI3,POSI3,CASH3,POSI3,NaN,NaN,POSI3,POSI3,CASH3
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,POSI3,NaN,NaN,NaN,CASH3,CASH3,POSI3

In [8]:
# lendo uma aba da planilha
tickers = pd.read_excel('composicao_ibov.xlsx', sheet_name= 'lista_acoes')
tickers

       tickers
0     ENEV3.SA
1     SOMA3.SA
2     ELET6.SA
3     BIDI4.SA
4     RAIZ4.SA
..         ...
102  VVAR11.SA
103   ABEV3.SA
104   BRPR3.SA
105   HYPE3.SA
106   LCAM3.SA

[107 rows x 1 columns]

## Passo 2 - Puxar as cotações de todas as empresas que farão parte do backtest.

In [9]:
dados_cotacoes = yf.download(tickers = tickers['tickers'].to_list(),
                            start = '2015-05-29', end = '2022-12-31')['Adj Close']

[*********************100%***********************]  107 of 107 completed

7 Failed downloads:
- SULA11.SA: No data found, symbol may be delisted
- BRML3.SA: No data found, symbol may be delisted
- HGTX3.SA: No data found, symbol may be delisted
- LCAM3.SA: No data found, symbol may be delisted
- JPSA3.SA: No data found, symbol may be delisted
- BIDI11.SA: No data found, symbol may be delisted
- BIDI4.SA: No data found, symbol may be delisted

,ABEV3.SA,ALPA4.SA,AMER3.SA,ARZZ3.SA,ASAI3.SA,AURE3.SA,AZUL4.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,...,UGPA3.SA,USIM5.SA,VALE3.SA,VALE5.SA,VBBR3.SA,VIIA3.SA,VIVT3.SA,VVAR11.SA,WEGE3.SA,YDUQ3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2015-05-28,14.198137,6.685467,23.335871,20.323332,NaN,NaN,NaN,2.861057,14.849311,8.853710,...,30.636639,4.367772,13.072852,16.463345,NaN,6.362683,21.837362,15.606747,5.775533,13.829245
2015-05-29,14.236553,6.685467,23.799561,20.257240,NaN,NaN,NaN,2.771958,14.430483,8.534482,...,30.210823,4.333781,12.760986,16.042191,NaN,6.362683,22.250923,15.229004,5.741957,14.081800
2015-06-01,14.290334,6.698972,23.468353,20.240713,NaN,NaN,NaN,2.866007,14.519327,8.664776,...,30.509329,4.291293,12.754622,16.042191,NaN,6.362683,22.111124,15.308528,5.782249,13.637918
2015-06-02,14.328956,6.617937,23.657616,20.876854,NaN,NaN,NaN,2.925407,14.881038,8.833379,...,30.851734,4.384767,13.588382,17.238655,NaN,6.362683,21.784937,16.401995,5.926640,13.867514
2015-06-03,14.228536,6.658454,22.616678,20.653793,NaN,NaN,NaN,2.913031,14.341642,8.556318,...,30.553230,4.282796,13.295609,16.903645,NaN,6.362683,21.901432,16.451698,5.926640,13.523121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-01-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.828237,NaN,NaN
2017-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.744440,NaN,NaN
2017-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.744440,NaN,NaN
2017-04-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.107453,NaN,NaN
2017-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.853922,NaN,NaN

## Passo 3 - Transformar o índice em data e ordenar por serie de tempo

In [10]:
dados_cotacoes.index = pd.to_datetime(dados_cotacoes.index)

dados_cotacoes = dados_cotacoes.sort_index()

dados_cotacoes

,ABEV3.SA,ALPA4.SA,AMER3.SA,ARZZ3.SA,ASAI3.SA,AURE3.SA,AZUL4.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,...,UGPA3.SA,USIM5.SA,VALE3.SA,VALE5.SA,VBBR3.SA,VIIA3.SA,VIVT3.SA,VVAR11.SA,WEGE3.SA,YDUQ3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2015-05-28,14.198137,6.685467,23.335871,20.323332,NaN,NaN,NaN,2.861057,14.849311,8.853710,...,30.636639,4.367772,13.072852,16.463345,NaN,6.362683,21.837362,15.606747,5.775533,13.829245
2015-05-29,14.236553,6.685467,23.799561,20.257240,NaN,NaN,NaN,2.771958,14.430483,8.534482,...,30.210823,4.333781,12.760986,16.042191,NaN,6.362683,22.250923,15.229004,5.741957,14.081800
2015-06-01,14.290334,6.698972,23.468353,20.240713,NaN,NaN,NaN,2.866007,14.519327,8.664776,...,30.509329,4.291293,12.754622,16.042191,NaN,6.362683,22.111124,15.308528,5.782249,13.637918
2015-06-02,14.328956,6.617937,23.657616,20.876854,NaN,NaN,NaN,2.925407,14.881038,8.833379,...,30.851734,4.384767,13.588382,17.238655,NaN,6.362683,21.784937,16.401995,5.926640,13.867514
2015-06-03,14.228536,6.658454,22.616678,20.653793,NaN,NaN,NaN,2.913031,14.341642,8.556318,...,30.553230,4.282796,13.295609,16.903645,NaN,6.362683,21.901432,16.451698,5.926640,13.523121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,14.620000,14.800000,9.180000,80.849998,19.981815,15.05,11.45,13.165410,34.267910,12.759445,...,12.746346,6.920000,84.465065,NaN,15.75,2.560000,37.196148,NaN,38.228981,10.050000
2022-12-26,14.520000,14.680000,9.340000,78.559998,19.891987,14.78,11.36,13.234443,34.219345,12.463381,...,12.259920,6.960000,85.238083,NaN,15.24,2.550000,36.325726,NaN,37.921162,10.190000
2022-12-27,14.520000,14.450000,9.160000,76.570000,19.263187,14.72,10.74,12.770941,33.082909,12.539785,...,12.190430,7.020000,87.273392,NaN,15.05,2.370000,36.180649,NaN,37.742432,9.900000
2022-12-28,14.550000,15.120000,9.720000,78.680000,19.392941,14.79,11.16,13.214719,33.675411,12.921804,...,12.607367,7.160000,87.077682,NaN,15.52,2.450000,36.625534,NaN,38.427574,10.430000
2022-12-29,14.520000,15.080000,9.650000,78.250000,19.469999,14.73,11.01,13.027346,33.733692,12.864500,...,12.518023,7.160000,86.970047,NaN,15.55,2.400000,37.089760,NaN,38.238911,10.170000

## Passo 4 - Calcular a média dos retornos nos últimos 7 meses e ajustar a tabela com o fator.

In [18]:
# tranformando a tabela de diario para mensal 
r7 = dados_cotacoes.resample('M').last().pct_change().rolling(7).mean().dropna(axis = 0, how = 'all').drop('2022-12-31')

r7

,ABEV3.SA,ALPA4.SA,AMER3.SA,ARZZ3.SA,ASAI3.SA,AURE3.SA,AZUL4.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,...,UGPA3.SA,USIM5.SA,VALE3.SA,VALE5.SA,VBBR3.SA,VIIA3.SA,VIVT3.SA,VVAR11.SA,WEGE3.SA,YDUQ3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2015-12-31,-0.001950,-0.029248,-0.065977,-0.017682,NaN,NaN,NaN,0.004278,-0.047123,-0.025609,...,-0.016049,-0.147154,-0.053107,-0.060219,NaN,-0.124164,-0.011703,-0.185254,-0.014471,-0.031506
2016-01-31,0.000195,-0.002171,-0.057474,-0.028699,NaN,NaN,NaN,-0.009982,-0.067365,-0.042596,...,-0.012267,-0.184219,-0.076857,-0.092112,NaN,-0.159640,-0.019134,-0.162126,-0.025967,-0.050952
2016-02-29,-0.010277,0.037138,-0.059721,-0.022236,NaN,NaN,NaN,0.023767,-0.057441,-0.014066,...,-0.012792,-0.169228,-0.042859,-0.057539,NaN,-0.060308,-0.011987,-0.060618,-0.044619,-0.008536
2016-03-31,0.001905,0.023046,-0.007280,0.018368,NaN,NaN,NaN,0.063214,0.036939,0.040653,...,0.016324,0.009749,-0.002857,-0.005600,NaN,-0.049514,0.021719,0.010680,-0.019768,-0.001055
2016-04-30,0.002799,0.066272,-0.005534,0.036802,NaN,NaN,NaN,0.076270,0.072912,0.053328,...,0.014022,0.046471,0.050635,0.057512,NaN,0.075383,0.034795,0.084867,0.002375,-0.014793
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-31,-0.003146,-0.060367,-0.094451,0.011073,0.035023,NaN,-0.084621,0.013326,0.040819,0.006532,...,-0.009828,-0.066972,-0.005767,0.000000,-0.032003,-0.080970,-0.004796,0.000000,-0.014438,-0.053880
2022-08-31,0.004276,-0.038994,-0.070376,0.025646,0.062656,NaN,-0.055093,-0.022352,0.045491,-0.002959,...,-0.005972,-0.084394,-0.015005,0.000000,-0.027345,-0.017738,-0.020296,0.000000,-0.009613,-0.074785
2022-09-30,0.004607,-0.018176,-0.062861,0.035933,0.045528,NaN,-0.051255,-0.006519,0.024358,0.014543,...,-0.022141,-0.082029,-0.018461,0.000000,-0.037782,0.009078,-0.023345,0.000000,0.021418,-0.044394
2022-10-31,0.006956,-0.015430,-0.085046,0.029014,0.033970,-0.005984,-0.029832,0.002295,0.016579,0.007291,...,0.003027,-0.080352,-0.039027,0.000000,-0.028229,-0.007932,-0.030803,0.000000,0.030830,-0.025701
2022-11-30,0.014405,-0.013869,-0.092980,0.009729,0.043397,-0.004539,-0.052284,0.002268,0.016619,-0.002955,...,0.022346,-0.047738,0.018907,0.000000,-0.028581,-0.010181,-0.044421,0.000000,0.045833,-0.034657

## Passo 5 - Classificar e retirar empresas  que não participaram do Ibovespa no Ibovespa no período do tempo selecionado

In [ ]:
for data in r7.index:
    
    for empresa in r7.columns:
        
        if empresa.replace(".SA","") not in comp_historica.loc[:, data].to_list():
            r7.loc[data, empresa] = pd.NA
r7

In [22]:
comp_historica

,2015-12-31,2016-01-31,2016-02-29,2016-03-31,2016-04-30,2016-05-31,2016-06-30,2016-07-31,2016-08-31,2016-09-30,...,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30
0,ABEV3,ABEV3,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,...,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3
1,AMER3,BBAS3,ABEV3,BBDC4,BBDC4,ABEV3,ABEV3,ABEV3,BBDC4,ABEV3,...,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4,ITUB4,PETR4,ITUB4
2,AURE3,BBDC3,BBDC4,ABEV3,ABEV3,BBDC4,BBDC4,BBDC4,ABEV3,BBDC4,...,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,PETR4,ITUB4,PETR4
3,B3SA3,BBDC4,BRFS3,PETR4,PETR4,BRFS3,PETR4,PETR4,PETR4,PETR4,...,PETR3,BBDC4,BBDC4,BBDC4,BBDC4,PETR3,PETR3,BBDC4,BBDC4,BBDC4
4,B3SA3,BBSE3,CIEL3,BRFS3,PETR3,PETR4,BRFS3,BRFS3,BRFS3,BRFS3,...,BBDC4,B3SA3,PETR3,PETR3,PETR3,BBDC4,BBDC4,PETR3,PETR3,PETR3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,EZTC3,JHSF3,JHSF3,GOLL4,GOLL4,GOLL4,GOLL4,CVCB3,CVCB3,EZTC3
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,JHSF3,EZTC3,EZTC3,JHSF3,EZTC3,CASH3,CASH3,GOLL4,ECOR3,ECOR3
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CASH3,CASH3,CASH3,EZTC3,CASH3,POSI3,POSI3,ECOR3,GOLL4,CVCB3
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,POSI3,POSI3,POSI3,CASH3,POSI3,NaN,NaN,POSI3,POSI3,CASH3
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,POSI3,NaN,NaN,NaN,CASH3,CASH3,POSI3