## Projeto 1 - Relatório de fechamento de mercado por email.

### Desafio
    Contruir um email que chegue na caixa de entrada todos os dias com informações de fechamento do Ibovespa e Dolar.
    
### Passo a passo

Passo 1 - Importar os módulos e bibliotecas <br>
Passo 2 - Pegar dados do Ibovespa e Dólar no Yahoo Finance. <br>
Passo 3 - Manipular os dados para deixá-los nos formatos necessários para fechamento. <br>
Passo 4 - Calcular o retorno diário, mensal e trimestral. <br>
Passo 5 - Localizar, dentro tabelas de retornos, os valores de fechamento de mercado que irão pro texto anexado no e-mail.<br>
Passo 6 - Fazer os graficos dos ativos. <br>
Passo 7 - Enviar o Email. <br>

## Passo 1 - Importando os módulos necessários

In [1]:
# instalando os modulos
!pip install yfinance==0.1.74

Requirement already satisfied: yfinance==0.1.74 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (0.1.74)
Requirement already satisfied: pandas>=0.24.0 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from yfinance==0.1.74) (1.4.4)
Requirement already satisfied: numpy>=1.15 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from yfinance==0.1.74) (1.21.5)
Requirement already satisfied: requests>=2.26 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from yfinance==0.1.74) (2.28.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from yfinance==0.1.74) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from yfinance==0.1.74) (4.9.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from pandas>=0.24.0->yfinance==0.1.74) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from pandas>=0.24.0->yfinance==0.1.74) (2022.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from requests>=2.26->yfinance==0.1.74) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from requests>=2.26->yfinance==0.1.74) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from requests>=2.26->yfinance==0.1.74) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from requests>=2.26->yfinance==0.1.74) (1.26.11)
Requirement already satisfied: six>=1.5 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance==0.1.74) (1.16.0)

In [2]:
!pip install mplcyberpunk

Requirement already satisfied: mplcyberpunk in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (0.6.0)
Requirement already satisfied: matplotlib in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from mplcyberpunk) (3.5.2)
Requirement already satisfied: numpy>=1.17 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from matplotlib->mplcyberpunk) (1.21.5)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from matplotlib->mplcyberpunk) (1.4.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from matplotlib->mplcyberpunk) (4.25.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from matplotlib->mplcyberpunk) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from matplotlib->mplcyberpunk) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from matplotlib->mplcyberpunk) (9.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from matplotlib->mplcyberpunk) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from matplotlib->mplcyberpunk) (21.3)
Requirement already satisfied: six>=1.5 in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (from python-dateutil>=2.7->matplotlib->mplcyberpunk) (1.16.0)

In [3]:
!pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\bruna cirigaita\anaconda3\jupyter\lib\site-packages (1.0.0)

In [4]:
# fazendo as importações dos módulos
import pandas as pd
import datetime
import yfinance as yf
from matplotlib import pyplot as plt
import smtplib
from email.message import EmailMessage

## Passo 2 - Pegar dados do Ibovespa e Dólar no Yahoo Finance.
https://finance.yahoo.com/

In [5]:
ativos = ['^BVSP', 'BRL=X']

# pegando o dia 
hoje = datetime.datetime.now()

# um ano atrás
um_ano_atras = hoje - datetime.timedelta(days=365)

dados_mercado = yf.download(ativos, um_ano_atras, hoje)
display(dados_mercado)

[*********************100%***********************]  2 of 2 completed

           Adj Close                  Close                     High  \
               BRL=X          ^BVSP   BRL=X          ^BVSP     BRL=X
Date
2022-04-04    4.6572  121280.000000  4.6572  121280.000000  4.670100
2022-04-05    4.5938  118885.000000  4.5938  118885.000000  4.669100
2022-04-06    4.6507  118228.000000  4.6507  118228.000000  4.712600
2022-04-07    4.7152  118862.000000  4.7152  118862.000000  4.769900
2022-04-08    4.7521  118322.000000  4.7521  118322.000000  4.791300
...              ...            ...     ...            ...       ...
2023-03-28    5.1971  101185.000000  5.1971  101185.000000  5.197700
2023-03-29    5.1644  101793.000000  5.1644  101793.000000  5.182300
2023-03-30    5.1342  103713.000000  5.1342  103713.000000  5.155928
2023-03-31    5.0927  101882.000000  5.0927  101882.000000  5.103300
2023-04-03    5.0635  101022.601562  5.0635  101022.601562  5.076900

                                Low                   Open                 \
                    ^BVSP     BRL=X          ^BVSP   BRL=X          ^BVSP
Date
2022-04-04  121570.000000  4.604057  120754.000000  4.6572  121569.000000
2022-04-05  121628.000000  4.575500  118794.000000  4.5938  121279.000000
2022-04-06  118885.000000  4.647900  116791.000000  4.6507  118885.000000
2022-04-07  119247.000000  4.690400  117509.000000  4.7152  118226.000000
2022-04-08  118868.000000  4.707518  117487.000000  4.7521  118861.000000
...                   ...       ...            ...     ...            ...
2023-03-28  101559.000000  5.147900   99488.000000  5.1971   99672.000000
2023-03-29  102213.000000  5.131730  100248.000000  5.1644  101185.000000
2023-03-30  104085.000000  5.077300  101796.000000  5.1342  101796.000000
2023-03-31  104041.000000  5.055200  101476.000000  5.0927  103714.000000
2023-04-03  101915.710938  5.038000  100650.546875  5.0736  101883.210938

           Volume
            BRL=X       ^BVSP
Date
2022-04-04      0   8812500.0
2022-04-05      0  11788300.0
2022-04-06      0  13410800.0
2022-04-07      0  11520100.0
2022-04-08      0  11225800.0
...           ...         ...
2023-03-28      0  13500100.0
2023-03-29      0  12456100.0
2023-03-30      0  14901600.0
2023-03-31      0  15111200.0
2023-04-03      0         0.0

[261 rows x 12 columns]

In [6]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__deprecated_num_index_names',
 '__dir__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_testing',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

## Passo 3 - Manipular os dados para deixá-los nos formatos necessários para fechamento

In [7]:
dados_fechamento = dados_mercado['Adj Close'] #['^BVSP']

dados_fechamento.columns = ['dolar', 'ibovespa']

dados_fechamento.head(50)

               dolar  ibovespa
Date
2022-04-04  4.657200  121280.0
2022-04-05  4.593800  118885.0
2022-04-06  4.650700  118228.0
2022-04-07  4.715200  118862.0
2022-04-08  4.752100  118322.0
2022-04-11  4.698100  116953.0
2022-04-12  4.693600  116147.0
2022-04-13  4.673100  116782.0
2022-04-14  4.690200  116182.0
2022-04-15  4.701000       NaN
2022-04-18  4.700600  115687.0
2022-04-19  4.652000  115057.0
2022-04-20  4.665000  114344.0
2022-04-21  4.620800       NaN
2022-04-22  4.620800  111078.0
2022-04-25  4.795200  110685.0
2022-04-26  4.876200  108213.0
2022-04-27  4.997800  109349.0
2022-04-28  4.963600  109919.0
2022-04-29  4.937800  107876.0
2022-05-02  4.971300  106639.0
2022-05-03  5.084700  106528.0
2022-05-04  4.958100  108344.0
2022-05-05  4.918800  105304.0
2022-05-06  5.028000  105135.0
2022-05-09  5.080400  103250.0
2022-05-10  5.160900  103110.0
2022-05-11  5.131300  104397.0
2022-05-12  5.134252  105688.0
2022-05-13  5.133400  106924.0
2022-05-16  5.058300  108233.0
2022-05-17  5.059700  108789.0
2022-05-18  4.938100  106247.0
2022-05-19  4.967500  107005.0
2022-05-20  4.930000  108488.0
2022-05-23  4.880200  110346.0
2022-05-24  4.813500  110581.0
2022-05-25  4.817800  110580.0
2022-05-26  4.822800  111890.0
2022-05-27  4.768200  111942.0
2022-05-30  4.729600  111032.0
2022-05-31  4.752400  111351.0
2022-06-01  4.730400  111360.0
2022-06-02  4.815500  112393.0
2022-06-03  4.795700  111102.0
2022-06-06  4.775000  110186.0
2022-06-07  4.794200  110070.0
2022-06-08  4.867526  108368.0
2022-06-09  4.898100  107094.0
2022-06-10  4.903300  105481.0

In [8]:
# tratamentos de dados!! removendo os dados faltantes 
dados_fechamento = dados_fechamento.dropna()
dados_fechamento

             dolar       ibovespa
Date
2022-04-04  4.6572  121280.000000
2022-04-05  4.5938  118885.000000
2022-04-06  4.6507  118228.000000
2022-04-07  4.7152  118862.000000
2022-04-08  4.7521  118322.000000
...            ...            ...
2023-03-28  5.1971  101185.000000
2023-03-29  5.1644  101793.000000
2023-03-30  5.1342  103713.000000
2023-03-31  5.0927  101882.000000
2023-04-03  5.0635  101022.601562

[251 rows x 2 columns]

# Passo 3.2 Manipulando os dados - Criando tabelas com outros timeframes

In [9]:
dados_fechamento_mensal = dados_fechamento.resample("M").last()
dados_fechamento_mensal

dados_fechamento_anual = dados_fechamento.resample("Y").last()
dados_fechamento_anual

             dolar       ibovespa
Date
2022-12-31  5.2668  110031.000000
2023-12-31  5.0635  101022.601562

## Passo 4 - Calcular fechamento do dia, mensal e trimestral.

In [10]:
retorno_no_ano = dados_fechamento_anual.pct_change().dropna()
retorno_mensal = dados_fechamento_mensal.pct_change().dropna()
retorno_diario = dados_fechamento.pct_change().dropna()
retorno_diario

               dolar  ibovespa
Date
2022-04-05 -0.013613 -0.019748
2022-04-06  0.012386 -0.005526
2022-04-07  0.013869  0.005363
2022-04-08  0.007826 -0.004543
2022-04-11 -0.011363 -0.011570
...              ...       ...
2023-03-28 -0.009151  0.015200
2023-03-29 -0.006292  0.006009
2023-03-30 -0.005848  0.018862
2023-03-31 -0.008083 -0.017654
2023-04-03 -0.005734 -0.008435

[250 rows x 2 columns]

## Passo 5 - Localizar o fechamento do dia anterior, retornando no mês  e retorno no ano.

    ** Loc -> referencia elementos a partir do nome
    ** Iloc -> selecionar elementos como uma matriz

In [11]:
#returno_diario.loc[linha, coluna]



retorno_diario.loc['2022-04-05']
retorno_diario.loc['2022-04-05', 'dolar']

-0.013613285585453494

In [16]:
retorno_dia_dolar = retorno_diario.iloc[-1,0,]
retorno_dia_ibovespa = retorno_diario.iloc[-2,0,]

In [14]:
retorno_dia_dolar

-0.005733712378627853

In [17]:
retorno_dia_ibovespa

-0.01765448882975129